
  <div class="head">
    <h1>Contactez-nous</h1>
    <p>Vous avez une question? N'hésitez pas à nous contacter.</p>
  </div>

   <p-toast></p-toast>

<div class="contact-container">
  <div class="form-card">
    <div class="card-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0d47a1" class="bi bi-chat-left" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
      </svg>
      <h2>Envoyez-nous un message</h2>
    </div>

    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" id="name" [(ngModel)]="form.name" placeholder="Votre nom" class="form-control">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="form.email" placeholder="Votre email" class="form-control">
    </div>

    <div class="form-group">
      <label for="sujet">Sujet</label>
      <input type="text" id="sujet" [(ngModel)]="form.sujet" placeholder="Objet de votre message" class="form-control">
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" [(ngModel)]="form.message" placeholder="Votre message" class="form-control message-area"></textarea>
    </div>

  <div class="form-group">
      <p-button label="Envoyer" icon="pi pi-send" (click)="send()" [loading]="loading" styleClass="p-button-success w-full"></p-button>
    </div>
  </div>
</div>