 
.career-section {
  margin-top: 0px;
  background: linear-gradient(to bottom, #f2f0fb, #f1f0fc, #f1f0fc, #f0f0fc, #f0f0fb, #eeeffb, #eceefb);
  padding: 50px; 
  text-align: center;
}

.career-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.career-section p {
  font-size: 23px; 
  // text-align: center;
  
  margin: 0 auto 30px;
  color:#64748b;
  width: 600px;
  line-height: 1.3;  
}
