<div class="titles">
  <h1>Comment ça fonctionne ?</h1>
  <p>Un processus simple pour booster votre carrière.</p>
</div>

<div class="card-container">
  <p-card class="custom-card">
    <ng-template pTemplate="title">
      <div class="number">1</div>
      <p class="card-title">Importez votre CV</p>
    </ng-template>
    <p class="card-content">
      Téléchargez votre CV et notre système analysera automatiquement vos compétences et expériences.
    </p>
  </p-card>

  <p-card class="custom-card">
    <ng-template pTemplate="title">
      <div class="number">2</div>
      <p class="card-title">Découvrez des offres</p>
    </ng-template>
    <p class="card-content">
      Nous trouvons les meilleures correspondances d'emploi sur LinkedIn en fonction de votre profil.
    </p>
  </p-card>

  <p-card class="custom-card">
    <ng-template pTemplate="title">
      <div class="number">3</div>
      <p class="card-title">Améliorez vos compétences</p>
    </ng-template>
    <p class="card-content">
      Passez des quiz, préparez des entretiens avec l'IA et suivez des formations recommandées.
    </p>
  </p-card>
</div>
