<main>
  <section class="hero">
    <h1 class=" ">Trouvez le job
      <span> parfait </span> pour vos compétences</h1>

    <p>JobConnectAI analyse votre CV, trouve les offres LinkedIn correspondantes, et vous aide à améliorer vos compétences avec des tests et des formations personnalisés.</p>
 <div class="buttons">
    <p-button  routerLink="/quiz" label="Commencer maintenant" styleClass="p-button-primary"></p-button>
    <p-button routerLink="/contact" label="Nous contacter" styleClass="p-button-secondary contact-button"></p-button>
  </div> 
    <i class="pi pi-arrow-down" style="font-size: 1.4rem"></i> 

  </section>
  
</main>
